# АЛГОРИТМЫ,ЗАДАЧИ с сайта LeetCode

In [ ]:
Rome = input("Введите Римское число: ")                                #Задача с Римскими цифрами(Конвертация в Арабские)
m1 = {'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}
arabic_numeral = 0
prev_value = 0

for i in reversed(Rome):
    value = m1[i]
    if value < prev_value:
        arabic_numeral -= value
    else:
        arabic_numeral += value
    prev_value = value
print(f"Арабское число: {arabic_numeral}")

In [ ]:
                                          # Жадный алгоритм для выбора минимального количества монет
coins = [1, 5, 10, 25, 50]
target= 44

# Сортируем монеты в порядке убывания номиналов
coins.sort(reverse=True)

result = []  # Здесь будем хранить выбранные монеты
total = 0  # Здесь будем подсчитывать сумму выбранных монет
for i in coins:
    while total + i <= target:
        result.append(i)
        total += i
print("Минимальное количество монет:", len(result))
print("Выбранные монеты:", result)

# PANDAS(Leetcode)

In [ ]:
import pandas as pd        # Создание 2х таблиц и объединение их по уникальному признаку

data = {'personid': [1, 2],
        'firstname': ['Jack', 'Allen'],
        'lastname': ['Bobes', 'Marisis']}
df = pd.DataFrame(data)

data1 = {'addressid': [1, 2],
         'personid': [2, 3],
         'City': ['NY', 'LA'],
         'State': ['NewYork', 'California']}
df1 = pd.DataFrame(data1)

df2 = pd.merge(left=df, right=df1, how='left', on='personid')[['firstname', 'lastname', 'City', 'State']]

print(df2)

введи Количество дней10