# PANDAS

In [ ]:
import pandas as pd           #Создание серии из словаря
pd.__version__
series_array={'row1':2,'row2':4,'row3':8,'row4':16,'row5':32}
series_from_dict=pd.Series(series_array, index=['row1','row5','row10'])  #Отбор по Индексу
series_from_dict

In [ ]:
import pandas as pd     #Создание ДатаФрейма из словаря           
data={
'apple': [10,15,20],
'banana': [15,25,30],
'orange': [25,30,35],
'lime': [30,45,50]    
}
df = pd.DataFrame(data, index=['row1','row2','row3'],columns=['orange','lime'])
# Index- заменяет числовые значения на row1...
#columns-отбор по столбцам
print(df)

In [ ]:
df=pd.read_excel('RC_F01_01_2023_T08_11_2023.xlsx', sheet_name='RC')        #Загрузка из Excel
df=pd.read_csv('RC_F01_01_2023_T08_11_2023.csv', sep=';',low_memory=False)  #Загрузка из CSV

df.to_csv ('n_best{}.csv')                                                  #сохранение файла CSV
df.to_excel('forecast_next_month.xlsx', index=False)                        #сохранение файла  Excel без Индекса

df['Продажи'] = df['Продажи'].str.replace(',', '.').astype(float)           #Преобразивание типа данных Object в float
summa = df.groupby('Магазин')['Продажи'].sum()                              #суммастолбка

data['Дата'] = pd.to_datetime(data['Дата'], dayfirst=True)                  # Преобразование формата даты
data = data[(data['Дата'] >= '2021-01-01')]                                 # Фильтр дат

In [12]:
import pandas as pd
import numpy as np
df=pd.DataFrame({f'c_{i}': np.arange(1000)*i for i in range (100)})
df

,c_0,c_1,c_2,c_3,c_4,c_5,c_6,c_7,c_8,c_9,...,c_90,c_91,c_92,c_93,c_94,c_95,c_96,c_97,c_98,c_99
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
2,0,2,4,6,8,10,12,14,16,18,...,180,182,184,186,188,190,192,194,196,198
3,0,3,6,9,12,15,18,21,24,27,...,270,273,276,279,282,285,288,291,294,297
4,0,4,8,12,16,20,24,28,32,36,...,360,364,368,372,376,380,384,388,392,396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,995,1990,2985,3980,4975,5970,6965,7960,8955,...,89550,90545,91540,92535,93530,94525,95520,96515,97510,98505
996,0,996,1992,2988,3984,4980,5976,6972,7968,8964,...,89640,90636,91632,92628,93624,94620,95616,96612,97608,98604
997,0,997,1994,2991,3988,4985,5982,6979,7976,8973,...,89730,90727,91724,92721,93718,94715,95712,96709,97706,98703
998,0,998,1996,2994,3992,4990,5988,6986,7984,8982,...,89820,90818,91816,92814,93812,94810,95808,96806,97804,98802
999,0,999,1998,2997,3996,4995,5994,6993,7992,8991,...,89910,90909,91908,92907,93906,94905,95904,96903,97902,98901

In [15]:
index=df.index
index
columns=df.columns
columns

Index(['c_0', 'c_1', 'c_2', 'c_3', 'c_4', 'c_5', 'c_6', 'c_7', 'c_8', 'c_9',
       'c_10', 'c_11', 'c_12', 'c_13', 'c_14', 'c_15', 'c_16', 'c_17', 'c_18',
       'c_19', 'c_20', 'c_21', 'c_22', 'c_23', 'c_24', 'c_25', 'c_26', 'c_27',
       'c_28', 'c_29', 'c_30', 'c_31', 'c_32', 'c_33', 'c_34', 'c_35', 'c_36',
       'c_37', 'c_38', 'c_39', 'c_40', 'c_41', 'c_42', 'c_43', 'c_44', 'c_45',
       'c_46', 'c_47', 'c_48', 'c_49', 'c_50', 'c_51', 'c_52', 'c_53', 'c_54',
       'c_55', 'c_56', 'c_57', 'c_58', 'c_59', 'c_60', 'c_61', 'c_62', 'c_63',
       'c_64', 'c_65', 'c_66', 'c_67', 'c_68', 'c_69', 'c_70', 'c_71', 'c_72',
       'c_73', 'c_74', 'c_75', 'c_76', 'c_77', 'c_78', 'c_79', 'c_80', 'c_81',
       'c_82', 'c_83', 'c_84', 'c_85', 'c_86', 'c_87', 'c_88', 'c_89', 'c_90',
       'c_91', 'c_92', 'c_93', 'c_94', 'c_95', 'c_96', 'c_97', 'c_98', 'c_99'],
      dtype='object')

In [ ]:
import pandas as pd               # Объединение merge

# Создаем два DataFrame
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': [1, 2, 3, 4]})

df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],
                    'value': [5, 6, 7, 8]})

# Объединяем (сливаем) DataFrame по столбцу 'key'
merged_df = pd.merge(df1, df2, on='key', how='inner')

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)
print("\nMerged DataFrame:")
print(merged_df)

In [9]:
import pandas as pd 
df1 = pd.DataFrame(data=[[1, 2], [3, 4], [5, 6]], columns=["A", "B"])            #Генератор списка 1
df2 = pd.DataFrame(data=[[10, 20], [30, 40]],columns=["C", "D"], index=[1, 3])   #Генератор списка 2

pd.concat([df1,df2], axis=0)  #Слияние
# df1.join(df2, how="inner")    #Объединение
# df1.join(df2, how="left")
# df1.join(df2, how="right")
# df1.join(df2, how="outer")

     A    B     C     D
0  1.0  2.0   NaN   NaN
1  3.0  4.0   NaN   NaN
2  5.0  6.0   NaN   NaN
1  NaN  NaN  10.0  20.0
3  NaN  NaN  30.0  40.0

In [ ]:
import xlwings as xw                 #Работа с Excel
import pandas as pd 
import numpy as np
import datetime as dt
df = pd.DataFrame(data=np.random.randn(100, 5),columns=[f"Колонка {i}" for i in range(1, 6)])  #Генератор списка
xw.view(df)            # Просмотр DataFrame в Excel